// PRODUCT
// ===========

// TOP
// -----------
.product-images__top {
  @include box-full;
  overflow: hidden;
}

.product__header {
  font-size: $text-2;
  text-transform: uppercase;
  margin-top: 0;
}

.product-images__image {
  width: 100%;
  height: auto;
  display: block;
}

// NAV
// -----------
.product-images__nav {
  text-align: center;
  margin-bottom: 30px;
  margin-top: -40px;
}

.product-images__nav-item {
  height: 200px;
  width: 200px;
  border: $border;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  display: inline-block;
  margin: 0;
}

.product-images__nav-link,
.product-images__nav-image {
  display: block;
  height: 100%;
  width: 100%;
}

// DETAIL
// -----------
.product-detail {
  @include box-full;
}

.product__form #option {
  >li {
    display: inline;
  }
}

.product__form #option input{
  position: absolute;
  left: -99999em;

  &:focus + label {
    background: black;
    color: white;
  }
}

.product__form #option label{
  display: inline-block;
  border: 10px solid black;
  height: 140px;
  width: 140px;
  line-height: 140px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  font-size: $text-2;
}

.product__form-submit {
  @include button;
}
