// PRODUCTS
// ===========

.products {
  list-style-type: none;
  overflow: hidden;
  padding: 0 40px;
}

.products__product {
  position: relative;
  overflow: hidden;
  margin: 0 0 80px;
}

.products__product-link {
  overflow: hidden;
  display: block;
}

.products__product-description {
  @include box;
  width: 40%;
  background: white;
  position: relative;
  top: -200px;
  float: right;
}

.products__product-img {
  display: block;
  width: 90%;
  height: auto;
  border: $border;
  height: 800px;
  width: 800px;
  float: left;
  margin: 0 0 80px;
}

.products__product-text {
  font-size: $text3;
  max-height: 7em;
  overflow: hidden;
  display: block;
}

.products__product-name {
  font-size: $text2;
  text-transform: uppercase;
  display: block;
}

.products__product-price {
  background: #fff;
  border: $border;
  padding: 40px;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  line-height: 220px;
  vertical-align: middle;
  display: block;
  font-size: $text1;
  text-align: center;
  float: left;
  position: relative;
}

// every second item is different
.products__product:nth-child(2n) {
  .products__product-img         { float: right; }
  .products__product-description { float: left; }
  .products__product-price       { float: right; }
}

.products__pagination { clear: both; }
.products__pagination--disabled { display: none; }
