{% paginate products from products.current by theme.products_per_page %}

{% if products != blank %}
<ul class="products">
  {% for product in products %}
  <li class="products__product">
    <a class="products__product-link" href="{{ product.url }}">
      <img class="products__product-img" alt="Image of {{ product.name | escape }}" src="{{ product.image | product_image_url size: theme.product_image_size }}">
        <div class="products__product-description">
        <span class="products__product-name">{{ product.name }}</span>
        <span class="products__product-text">{{ product.description }}</span>
      </div>
      <span class="products__product-price">{{ product.default_price | money_with_sign }}</span>
      {% if product.on_sale %}
      <span class="products__product-sale">On Sale</span>
      {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>

{{ paginate | default_pagination }}

{% else %}
<span class="products__product-alert">No products found.</span>
{% endif %}

{% endpaginate %}
